{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1 style="color: white; margin-bottom: 18px;">Sobre</h1>
        <p style="color: white; font-size: 1.4rem; font-family: Georgia, 'Times New Roman', Times, serif;">Imikino é uma palavra originada da língua quiniaruanda que significa “jogos”. Escolhemos esse nome, pois decidimos criar uma plataforma que possibilite os usuários conhecerem e avaliarem os jogos presentes na indústria dos games. Fornecemos ao usuário diversos dados sobre os jogos para que os auxiliem nesses processos.</p>
    </div>
    <div class="container">
        <h1 align='center' style="color: white; margin-bottom: 18px;">Nossos Valores</h1>
        <div class="container-valores">
            <div class="valores">
                <h2 style="color: white; font-family: Georgia, 'Times New Roman', Times, serif;">Coragem</h2>
                <div class="d-flex">
                    <img class="imagem-sobre" src="../static/images/link.png">
                    <p style="color: white; font-size: 1.4rem; font-family: Georgia, 'Times New Roman', Times, serif;">Quando superamos o medo, nós nos tornamos a melhor versão de nós mesmos.</p>
                </div>
            </div>
            <div class="valores">
                <h2 style="color: white; font-family: Georgia, 'Times New Roman', Times, serif;">Curiosidade</h2>
                <div class="d-flex">
                    <img style="padding-left: 15px;" class="imagem-sobre" src="../static/images/crep.png">
                    <p style="color: white; font-size: 1.4rem; font-family: Georgia, 'Times New Roman', Times, serif;">Somos curiosos, o que abre caminho para empatia, inclusão e entendimento.</p>
                </div>
            </div>
            <div class="valores">
                <h2 style="color: white; font-family: Georgia, 'Times New Roman', Times, serif;">Serviço</h2>
                <div class="d-flex">
                    <img style="padding-left: 15px;" class="imagem-sobre" src="../static/images/servico.png">
                    <p style="color: white; font-size: 1.4rem; font-family: Georgia, 'Times New Roman', Times, serif;">Nós servimos à comunidade com humildade, promovendo entre nós alegria e acolhimento.</p>
                </div>
            </div>
            <div class="valores">
                <h2 style="color: white; font-family: Georgia, 'Times New Roman', Times, serif;">Diversão</h2>
                <div class="d-flex">
                    <img style="padding-left: 8px;" class="imagem-sobre" src="../static/images/teemo.png">
                    <p style="color: white; font-size: 1.4rem; font-family: Georgia, 'Times New Roman', Times, serif;">Sempre buscamos nos divertir em nossas atividades para que tenhamos um ambiente de trabalho confortável e criativo.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}