@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.8);
              transform: scaleX(0.8);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.8);
              transform: scaleX(0.8);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }

@-webkit-keyframes shadow-drop-tb {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 -12px 20px -12px rgba(135, 194, 233, 0.445), 0 12px 20px -12px rgba(135, 194, 233, 0.445);
              box-shadow: 0 -12px 20px -12px rgba(135, 194, 233, 0.445), 0 12px 20px -12px rgba(135, 194, 233, 0.445);
    }
  }
  @keyframes shadow-drop-tb {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 -12px 20px -12px rgba(135, 194, 233, 0.445), 0 12px 20px -12px rgba(135, 194, 233, 0.445);
              box-shadow: 0 -12px 20px -12px rgba(135, 194, 233, 0.445), 0 12px 20px -12px rgba(135, 194, 233, 0.445);
    }
  }

@-webkit-keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
              box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
              box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }

@-webkit-keyframes rotate-scale-down-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
              transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }
  @keyframes rotate-scale-down-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
              transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }

body {
    background-color: rgba(15, 14, 14, 0.89);
}

/*faixa de jogos (home)*/

.faixa-jogos {
    width: 99.1vw;
    height: 311px;
    background-color: rgb(44, 105, 105);
    display: flex;
    margin-bottom: -70px;
}

.jogo {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: aqua;
    height: 100%;
    padding: 2px;
    border: black solid 1px;
    flex: 1;
    transition: 1s;
}

.jogo:hover {
    flex: 3;
}

.cartao {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -1px;
    margin-left: -2px;
    width: 100%;
    height: 101%;
    background-image: linear-gradient(to right, rgba(37, 41, 41, 0.61), rgba(22, 39, 43, 0.89));
    overflow: hidden;
    opacity: 0;
}

.cartao:hover {
    opacity: 1;
    -webkit-animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition-delay: 0.3s;
}


.caracteristicas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}

.caracteristicasCards {
    display: flex;
    justify-content: center;
    border: 2px solid white; 
    border-radius: 30px;
    width: 100px;
    height: 27px;
    margin-right: 5px;
}

#jogo1 {
    width: 16.66%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/imgFaixa/cupheadF.png);
}

#jogo2 {
    width: 16.66%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/imgFaixa/diablo.jpg);
}

#jogo3 {
    width: 16.66%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/imgFaixa/fortniteF.jpg);
}

#jogo4 {
    width: 16.66%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/imgFaixa/lolF.jpg);
}

#jogo5 {
    width: 16.66%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/imgFaixa/ow.jpg);
}

#jogo6 {
    width: 16.66%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/imgFaixa/stardewvalley.jpg);
}


/*NavBar*/

.ImagemLogo {
    margin-top: 7px;
    height: 6rem;
    object-fit: cover;
}

.imagem-perfil-pequena {
    width: 55px;
    height: 55px;
    border: 2px white solid;
    border-radius: 30px;
}

.navbar-toggler {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(142, 77, 185));
    border: 1px solid rgba(126, 122, 122, 0.671);
}

/*Home*/

.container1 {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 99.1vw;
    height: 60vh;
    position: static;
}

.favoritos {
    margin-top: 40px;
    width: 500px;
    height: 50vh;
    min-height: 500px;
    background-image: linear-gradient(to right, rgb(40, 31, 41), rgb(27, 33, 37));
    border-radius: 20px;
    -webkit-animation: shadow-drop-tb 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-tb 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.melhor-avaliados {
    margin-top: 40px;
    width: 500px;
    height: 50vh;
    min-height: 500px;
    background-image: linear-gradient(to right, rgb(40, 31, 41), rgb(27, 33, 37));
    border-radius: 20px;
    -webkit-animation: shadow-drop-tb 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-tb 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mais-populares{
    margin-top: 40px;
    width: 500px;
    height: 50vh;
    min-height: 500px;
    background-image: linear-gradient(to right, rgb(40, 31, 41), rgb(27, 33, 37));
    border-radius: 20px;
    -webkit-animation: shadow-drop-tb 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-tb 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.lista {
    height: 410px;
    width: 100%;
}

.listaL {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.link-favorito:hover {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), steelblue);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
}

/*Perfil*/

.div-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 120px;
    width: 100%;
    height: 385px;
}

.config {
    width: 30px;
    height: 28px;
}

.config:hover {
    -webkit-animation: rotate-center 1.2s ease-in-out both;
	        animation: rotate-center 1.2s ease-in-out both;
}

.imagem-perfil {
    width: 150px;
    height: 150px;
    border-radius: 85px;
}

.contorno {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px rgb(24, 24, 146) solid; 
    border-radius: 85px; 
    width: 170px; 
    height: 170px;
}

/*Usuarios*/

.div-sub-main {
    width: 60%;
    max-width: 400px;
    height: 385px;
    background-image: linear-gradient(to right, rgb(27, 48, 48),rgb(26, 13, 34));
    border-radius: 10px;
    margin-top: 40px;
}

.logo-usuarios {
    width: 80px;
    height: 50px;
}

.div-main-usuarios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 100%;
    height: auto;
}


/* jogos */

.div-sub-main-jogos {
    width: 60%;
    max-width: 400px;
    height: 550px;
    background-image: linear-gradient(to right, rgb(27, 48, 48),rgb(26, 13, 34));
    border-radius: 10px;
    margin-top: 40px;
}

.imagem-perfil-jogo {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 85px;
}

.return {
    width: 30px;
    height: 28px;
}

.return:hover {
    -webkit-animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*sobre*/

.container-valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 518px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.valores:hover {
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.valores p {
    padding: 5%;
}

.imagem-sobre {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.imagem-sobre:active {
    -webkit-animation: rotate-scale-down-diag-2 0.7s linear both;
	        animation: rotate-scale-down-diag-2 0.7s linear both;
}

.link_sobre:hover {
    opacity: 0.6;
    transition: 0.4s;
}
